body {
  width: 300px;
  display: flex;
  flex-direction: column;
}
ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

.item__link {
  text-align: center;
  font-size: 24px;
  display: block;
  background-color: white;
  border-bottom: 1px solid  #9e9e9e;
  transition: all 0.3s linear;
  text-decoration: none;
  color: #3e3e3e;
}

.item__link:focus  {
  background-color: #f7a300;
  color: white;
}

.elemListAdd {
  /*display: none;*/
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block__title {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #f7a300;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: normal;
  color: #3e3e3e;
}

.block__input {
  width: 80%;
  height: 30px;
  margin-bottom: 5px;
  padding: 0 10px;
  border: 1px solid #9e9e9e;
  font-size: 15px;
  color: #3e3e3e;
}

.active {
  display: block;
}
